/***
FONTS
***/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');

/***
VARIABLES
***/

:root {
  --clr-primary: #678e3b;
  --clr-primary-light: #beed8a;
  --clr-grey-1: #102a41;
  --clr-grey-5: #5f6a75;
  --clr-grey-10: #d2e1e2f9;
  --clr-white: #fff;
  --ff-primary: 'Noto Sans JP', sans-serif;
  --ff-secondary: 'Style Script', cursive;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
}

/***
RESETS
***/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/***
GLOBAL STYLES: GENERAL AND SMALL SCREEN
***/

body {
  font-family: var(--ff-primary);
  background-color: var(--clr-white);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.1rem;
}

p {
  margin-bottom: 1.25rem;
}

textarea {
  resize: none;
}

.btn {
  text-transform: uppercase;
  background: var(--clr-primary);
  color: var(--clr-white);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 700;
  transition: var(--transition);
  font-size: 0.8rem;
  border: none;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.btn:hover {
  color: var(--clr-primary);
  background: var(--clr-primary-light);
}

.clearfix::after,
.clearfix::before {
  content: '';
  clear: both;
  display: table;
}

.section-title h3 {
  font-family: var(--ff-secondary);
  color: var(--clr-primary);
}

.section-title {
  margin-bottom: 2rem;
}

.section-center {
  padding: 4rem 0;
  width: 85vw;
  margin: 0 auto;
  max-width: 1170px;
}

/***
GLOBAL STYLES: BIG SCREEN ONLY
***/

@media screen and (min-width: 800px) {
  body {
    font-size: 1rem;
  }

  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1rem;
  }

  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
    padding: 4rem 1rem;
  }
}

/* NAVBAR */

.nav-btn {
  position: fixed;
  top: 5%;
  left: 5%;
  font-size: 3rem;
  color: var(--clr-primary);
  z-index: 1;
}

/* HEADER */

.header {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('../images/main.jpg') center/cover no-repeat fixed;
  position: relative;
  /* ANIMATION */
  overflow-x: hidden;
}

.banner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.banner h2 {
  font-family: var(--ff-secondary);
  color: var(--clr-primary-light);
  /* ANIMATION */
}

.banner h1 {
  text-transform: uppercase;
  color: var(--clr-white);
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  /* ANIMATION */
}

.banner-btn {
  outline: 0.125rem solid var(--clr-primary);
  outline-offset: 0.25rem;
  font-size: 1.25rem;
  padding: 1rem 1.75rem;
}

/* CONTENT DIVIDER */

.content-divider {
  width: 100%;
  height: 0.7rem;
  background: linear-gradient(
    to left,
    var(--clr-primary),
    #e9b945,
    var(--clr-primary)
  );
}

/* SKILLS SECTION */

.skills {
  padding: 0 2px 0 0;
}

.skill {
  padding: 2.5rem 0;
  text-align: center;
  transition: var(--transition);
  width: 100%;
}

.skill:hover {
  background: var(--clr-grey-10);
  box-shadow: 2px 2px var(--clr-primary);
}

.skill:hover .skill-icon {
  transform: translateY(-8px);
}

.skill-icon {
  font-size: 2.5rem;
  margin-bottom: 1.25rem;
  transition: var(--transition);
  display: inline-block;
  color: var(--clr-primary);
}

.skill-text {
  color: var(--clr-grey-5);
  max-width: 17rem;
  margin: 0 auto;
}

@media screen and (min-width: 769px) {
  .skill {
    float: left;
    width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .skill {
    width: 25%;
  }
  .skills {
    width: 68%;
    margin: 0 auto;
  }
}

/* ABOUT SECTION */

.about {
  background-color: var(--clr-grey-10);
}

.about-picture-container {
  background-color: var(--clr-primary);
  border: 0.5rem solid var(--clr-primary);
  max-width: 30rem;
  overflow: hidden;
}

.about-picture {
  transition: var(--transition);
}

.about-picture-container:hover .about-picture {
  opacity: 0.5;
  transform: scale(1.2);
}

.about-text {
  max-width: 26rem;
  color: var(--clr-grey-5);
}

.about-img,
.about-info {
  padding: 2rem;
  width: 90%;
  margin: 0 auto;
}

@media screen and (min-width: 992px) {
  .about-img,
  .about-info {
    padding: 2rem 0;
    float: left;
    width: 50%;
  }
}

/* PRODUCT SECTION */

.products {
  margin: 0 auto;
}

.product-info,
.product-inventory {
  padding: 2rem;
  width: 90%;
  margin: 0 auto;
}

.product {
  width: 74%;
  margin: 2rem auto;
  text-align: center;
}

.product-text {
  color: var(--clr-grey-5);
  max-width: 26rem;
}

.product-img {
  border-radius: var(--radius);
  margin-bottom: 1rem;
  height: 17rem;
  object-fit: cover;
}

.product-price {
  color: var(--clr-primary);
}

@media screen and (min-width: 768px) {
  .product {
    float: left;
    width: 45%;
    margin: 0 0.5rem;
  }

  .product-info,
  .product-inventory {
    float: left;
    width: 50%;
    padding: 0;
  }
}

@media screen and (min-width: 1200px) {
  .product {
    width: 29%;
  }
  .product-info {
    width: 30%;
  }
  .product-inventory {
    width: 70%;
    padding: 1rem;
  }
}

/* SERVICES */

.services {
  background-color: var(--clr-grey-10);
  padding-top: 2rem;
  text-align: center;
}

.services-container {
  width: 80%;
  margin: 0 auto;
}

.services-title,
.services-list {
  width: 90%;
  margin: 0 auto;
  padding: 1.2rem;
}

.service-card {
  margin-bottom: 1rem;
  background-color: var(--clr-white);
  border-radius: var(--radius);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.service-card:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  transition: var(--transition);
  transform: scale(1.05);
}

.service-image {
  height: 17rem;
  object-fit: cover;
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
}

.service-info {
  padding: 1rem;
}

.service-info p {
  color: var(--clr-grey-5);
}

.service-icon {
  position: relative;
  bottom: 1em;
  border: 3px solid var(--clr-primary);
  border-radius: 50%;
  padding: 0.4rem;
  background-color: var(--clr-white);
  text-align: center;
}

.service-icon i {
  transform: scale(1.5);
  color: var(--clr-primary);
}

@media screen and (min-width: 1200px) {
  .services-title {
    width: 90%;
    padding-left: 2rem;
  }

  .service-card {
    float: left;
    margin-right: 1rem;
    margin-bottom: 3rem;
    width: 31%;
  }
}

/* CONTACT */

.contact {
  width: 70%;
  margin: 0 auto;
  padding: 1rem;
}
.contact h4 {
  font-size: 0.9rem;
}

.contact-item {
  margin-bottom: 2rem;
}

.contact-title {
  color: var(--clr-primary);
}

.contact-text {
  line-height: 1.5rem;
  color: var(--clr-grey-5);
}

.contact-form {
  margin-top: 3rem;
  background-color: var(--clr-grey-10);
  padding: 2rem;
  text-align: center;
  width: 70%;
  max-width: 45rem;
  border-radius: var(--radius);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.contact-form:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}

.form-control {
  display: block;
  width: 100%;
  margin: 1.5rem auto;
  border: none;
  text-transform: capitalize;
  padding: 0.5rem;
  border-radius: var(--radius);
  font-family: var(--ff-primary);
  letter-spacing: var(--spacing);
  font-size: 0.8rem;
}

.submit-btn {
  font-size: 0.9rem;
  height: 2rem;
}

@media screen and (min-width: 900px) {
  .contact-info,
  .contact-form {
    float: left;
  }

  .contact-info {
    padding-top: 5rem;
    width: 30%;
  }

  .contact-form {
    margin-top: 0;
    width: 70%;
  }
}

/* FOOTER */

.footer {
  width: 100%;
  margin: 0;
  height: 10rem;
  background-color: var(--clr-grey-1);
  color: var(--clr-white);
  padding: 2rem 0;
}

.footer-icons,
.footer-text {
  width: 80%;
  margin: 0.5rem auto;
  text-align: center;
}

.social-icon {
  font-size: 1.5rem;
  color: var(--clr-white);
  padding: 0 0.5rem;
}

.footer-text-span {
  color: var(--clr-primary-light);
}
