/***
FONTS
***/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');

/***
VARIABLES
***/

:root {
  --clr-primary: #678e3b;
  --clr-primary-light: #beed8a;
  --clr-grey-1: #102a41;
  --clr-grey-5: #5f6a75;
  --clr-grey-10: #d2e1e2f9;
  --clr-white: #fff;
  --ff-primary: 'Noto Sans JP', sans-serif;
  --ff-secondary: 'Style Script', cursive;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
}

/***
RESETS
***/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/***
GLOBAL STYLES: GENERAL AND SMALL SCREEN
***/

body {
  font-family: var(--ff-primary);
  background-color: var(--clr-white);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 0.75rem;
}

p {
  margin-bottom: 1.25rem;
}

.btn {
  text-transform: uppercase;
  background: var(--clr-primary);
  color: var(--clr-white);
  padding: 0.75rem 1rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 700;
  transition: var(--transition);
  font-size: 1rem;
  border: none;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.btn:hover {
  color: var(--clr-primary);
  background: var(--clr-primary-light);
}

/***
GLOBAL STYLES: BIG SCREEN ONLY
***/

@media screen and (min-width: 800px) {
  body {
    font-size: 1rem;
  }

  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1rem;
  }

  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/***
HEADER
***/

.header {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('../images/main.jpg') center/cover no-repeat fixed;
  position: relative;
  /* ANIMATION */
  overflow-x: hidden;
}

.banner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.banner h2 {
  font-family: var(--ff-secondary);
  color: var(--clr-primary-light);
  /* ANIMATION */
}

.banner h1 {
  text-transform: uppercase;
  color: var(--clr-white);
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  /* ANIMATION */
}

.banner-btn {
  outline: 0.125rem solid var(--clr-primary);
  outline-offset: 0.25rem;
  font-size: 1.25rem;
  padding: 1rem 1.75rem;
}

/* CONTENT DIVIDER */

.content-divider {
  width: 100%;
  height: 0.7rem;
  background: linear-gradient(
    to left,
    var(--clr-primary),
    #e9b945,
    var(--clr-primary)
  );
}

/* SKILLS SECTION */

.skills {
  padding: 0 2px 0 0;
}

.skill {
  background: var(--clr-grey-10);
  padding: 2.5rem 0;
  text-align: center;
  transition: var(--transition);
  width: 100%;
}

@media screen and (min-width: 769px) {
  .skill {
    float: left;
    width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .skill {
    width: 25%;
  }
}

.skill:hover {
  background: var(--clr-white);
  box-shadow: 2px 2px var(--clr-primary);
}

.skill:hover .skill-icon {
  transform: translateY(-8px);
}

.skill-icon {
  font-size: 2.5rem;
  margin-bottom: 1.25rem;
  transition: var(--transition);
  display: inline-block;
  color: var(--clr-primary);
}

.skill-text {
  color: var(--clr-grey-5);
  max-width: 17rem;
  margin: 0 auto;
}
